body
	background url(images/geometry.png) 0 0 repeat #ccc

a
	color mentita-2

a:hover
	color negro
	text-decoration none

a:visited
	color orange

h1
	font 300 2em/1.5em open-sans

h2
	font 400 1.3em open-sans

img
	max-width 100%
	height auto

header
	background #f4f4f4
	height 200px
	width 100%

	ul
		text-align center
		position relative
		top 50px
		li
			display inline-block
			padding 0 10px 0 0

			img
				width 100px
				height 100px

			.avatar
				border-radius(200px)
				border 4px solid mentita-2
				height 100px
				width 100px

section
	article
		header
			background none
			text-align center

			h2
				font-size 4.5em
				font-weight 700