open-sans = 'Open Sans', 'sans-serif'

mentita-1 = #08CC7E
mentita-2 = #17F79E
negro = #282828

border-radius()
	-webkit-border-radius: arguments;
	-moz-border-radius: arguments;
	border-radius: arguments;