open-sans = 'Open Sans', 'sans-serif'

mentita-1 = #5ae9b5
mentita-2 = #4bbb92
negro = #282828

border-radius()
	-webkit-border-radius: arguments;
	-moz-border-radius: arguments;
	border-radius: arguments;

transition()
	-webkit-transition: all arguments ease;
	-moz-transition: all arguments ease;
	-ms-transition: all arguments ease;
	-o-transition: all arguments ease;
	transition: all arguments ease;